.projects {
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: auto;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  margin-left: 1em;
  margin-right: 1em;
}
