.projects{
    font-family: 'Poppins',sans-serif;
}

.tabs-projects{
    font-family: 'Poppins',sans-serif;
    font-size: 0.9rem;
    color: black;
}

/* Inactive tab */
.tabs-projects ul > li > a {
    background-color: white;
    color: red;
}
.tabs-projects ul > li > a:hover {
    background-color: pink;
}

/* Active tab */
.tabs-projects ul > li.active > a,
.tabs-projects ul > li.active > a:hover,
.tabs-projects ul > li.active > a:focus {
    background-color: black;
    color: white;
}

/* Disabled tab */
.tabs-projects ul > li.disabled > a {
    background-color: lightgray;
    color: darkgray;
}